
body {
    padding-top: 60px;
}

#datasaved{
    display: none;
    width: 14%;
    z-index:9999;
    position: fixed;
    left: 50%;
    top: 32px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#suggestions{
    color:#5093C1;
    font-size: 12px;
    cursor:pointer;
    margin-top: -10px;
    display: block;
    margin-bottom:40px;
}

.input-group-addon{
    border: none;
    background-color: white;
    padding-left: 0px;
    padding-right: 2px;
}

.remove_menu {
    margin-top: -50px;
    min-height: calc(100% + 50px);
}

.site-menu-title {
    font-weight: 500;
}

.site-sidebar-tab-content {
    height: calc(100%);
}

.form-material .form-control:not(.empty) ~ .floating-label {
    font-weight: 200;
}

.site-sidebar-nav.nav-tabs > li > a {
    line-height: 45px;
}


label {
    font-weight: 400 !important;
}

.nav-tabs.nav-justified>li>a {
    border-bottom: 0px;
}

.control-open{
    margin-bottom: -8px;
    margin-top:-10px;
    margin-right:10px;
    font-size:19px
}

.nav-tabs>li>a>.icon {
    font-size: 13px;
}


.shadow {
    box-shadow: 2px 1px 5px 5px #E4E4E4;
}

.site-skintools {
    position: fixed;
    top: 110px;
    left: 29px;
    z-index: 1300;
    width: 270px;
    color: #76838f;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.site-skintools-inner {
    height: 100%;
}

.site-skintools-toggle {
    position: absolute;
    top: 0;
    left: -34px;
    padding: 10px 8px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    border-color: rgba(0, 0, 0, .09);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}


.upgrade-modal .modal-content{
    background: none;
    border:none;
    box-shadow:none;
}

.view_more{
    color:#5093C1;
    font-size: 14px;
    cursor:pointer;
    display: block;
    margin-top:5px;
}
@media (min-width: 768px){
    .upgrade-modal .modal-dialog {
        width: 1000px;
        margin: 30px auto;
    }
}

.nano {
    height: inherit;
}

.nano .content {
    padding: 10px;
    position: inherit;
}

.nano .pane {
    background: #888;
}

.nano .slider {
    background: #111;
}


.slidePanel-desc{
    font-weight: 300;letter-spacing: .3px;color:#f2a654;
}

.slidePanel-desc-static{
    font-weight: 300;letter-spacing: .3px;color:#f2a654;
}

.media-right{
    min-width:60px;
}

.media-body > h4{
    width:190px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.media-body > p{
    margin: 0px;
    font-size:smaller;
    width:190px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; background:black;}

.note-editor .note-toolbar.btn-toolbar .btn-group .btn-default.active, .note-editor .note-toolbar.btn-toolbar .btn-group .btn-default:active{
    color: #71B0EB;
}

.cursor-pointer{
    cursor:pointer;
}

.page{
    min-height: calc(100%)
}

.emailverify-backline{
    background: #FFCC80;
    width: 100%;
    margin-top:6px;
    line-height: 32px;
    color: #888;
    font-size: 15px;
    text-align: center;
    display: block;
    position: relative;
    padding: 5px;
}

.emailverify-text{
    color: #000;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.05em;
}



/*Panel css*/
.editForm{
    margin-top:30px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
    border-radius: 5px 5px 5px 5px;
}

.editForm-header {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: #F1F4F5;
}

.editForm-header span {
    margin-top: -10px; 
    line-height: 25px; 
    text-align: right; 
    float:right !important;
    font-weight: 500;
}

.editForm-body{
    padding: 0px 15px;
}

.editForm-footer {
    padding: 0px;
    border-radius: 0 0 5px 5px;
    background: #F1F4F5;
    text-align:center;
    margin-bottom: 20px;
}


.newForm{
    margin-top:30px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
    border-radius: 5px 5px 5px 5px;
}

.newForm-header {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: #F1F4F5;
}

.newForm-header span {
    margin-top: -10px; 
    line-height: 25px; 
    text-align: right; 
    float:right !important;
    font-weight: 500;
}

.newForm-body{
    padding: 0px 15px;
}

.newForm-footer {
    padding: 0px;
    border-radius: 0 0 5px 5px;
    background: #F1F4F5;
    text-align:center;
    margin-bottom: 20px;
}

.fa.fa-close{
    font-color:red;
    cursor:pointer;
}

.fa.fa-edit{
    font-color:green;
    cursor:pointer;
}


.panel_icon_menu{
    float:left;width:8%;
    line-height: 45px;
    text-align: right;
    font-size:16px;
    color: #474747;
    cursor:pointer;
}

.panel_icon_prev_btn{
    float:left;
    width:10%;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    cursor:pointer;
}

.panel_mobile_menu_content{
    float:left;width:64%;
    line-height: 45px;
}

.panel_icon_next_btn{
    float:left;
    width:7%;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    cursor:pointer;
}

.panel_icon_close{
    float:left;
    width:8%;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    cursor:pointer;
}

.panel{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    border-right: 0px;
}

.mobile_menu_content{
    padding-bottom:0px;
    width:100%;
    overflow: hidden;
    height:36px;
}

.btn_next_section{
    letter-spacing:.1em;
    font-weight:400;
    margin-top: 50px;
}

a:focus, a:hover{
    text-decoration: none;
}
.mobile_toggle_menu{
    cursor:pointer;
    margin-right:20px;
    display: inline-block;
    vertical-align: middle;
}

.resume_section_btn{
    margin-top: 50px;
}

.hide_scroller{
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    height: 38px;
    position: relative;
}

#next_nav, #prev_nav{
    font-size: 30px;
    margin-top: 5px;
    position: absolute;
    cursor: pointer;
}
.nav_tab_container{
    overflow: hidden;
}
.mobile_menu_content ul.nav-justified{
    width: 100%;
    overflow-x: auto;
    height: 52px;
    overflow-y: hidden;
}
.mobile_menu_content .site-sidebar-nav.nav-tabs > li{
    width: auto;
    padding-right: 10px;
/*min-width: 100px;*/
}
.mobile_menu_content .active_menu span{
    white-space:nowrap;
    font-weight:500;
    color:#66AAEA;
    border-bottom: 2px solid #62a8ea;
}
.site-sidebar-nav.nav-tabs > li > a span{
    height: 34px;
    overflow: hidden;
    line-height: 44px;
    display: block;
}
.resume_section_btn{
    border: 1px solid #ccc;
    border-right: 0px;
    padding: 3px 10px;
    border-radius: 8px 0px 0px 10px;
    margin-top: 4px;
    font-size: 20px;
    cursor: pointer;
}

.addnewBtn{
    margin-top:20px;
    margin-bottom:50px;
    font-weight:400;
    width:250;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*List group items*/
#list_group_panel a{
    border-radius:10px;
    box-shadow:0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    background: rgba(245, 245, 245, 0.2);
    padding: 10px 15px;
}

#list_group_panel .media-body > h4 {
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#list_group_panel .media i{
    font-size: 10px;
    color: rgb(118, 131, 143);
    display: none;
} 

#list_group_panel .media:hover i{
    font-size: 10px;
    color: rgb(118, 131, 143);
    display: inline-block;
}

#list_group_panel .media:hover i.wb-close{
    color:rgb(222, 92, 92);
}

.resume-html{
    max-width:810px;
    background:white;
    padding:5mm 2mm;
    overflow-x:auto;
}

#resendEmail{
    border-radius: 5px;
    color:#0288d1;
    cursor:pointer;
    background:#0288d1;
    color:#FFF;
    font-weight:500;
    padding-bottom: 5px;
    margin-bottom: 2px;
    margin-left: 15px;
}


@media screen and (max-width: 400px) {
    .media .media-left:nth-child(2) {
        display: none;
    }
}

.svsts{
    padding-top: 30px !important;
    padding-bottom: 14px !important;
}

.dropdown-menu{
    padding: 0px 0;
}

.btn-download:hover {
    color:#526069;
}
.btn-download {
    letter-spacing: 0.1px;
    font-weight: 400;      
}

.radio-custom label:hover {
    color:#526069;
}

.radio-custom label{
    letter-spacing: 0.1px;
    font-weight: 400;   
    color: #76838f;   
}

#feed{
    border-color: transparent transparent rgb(97, 161, 230); 
    border-width: 0px 0px 90px 90px;
    border-style: solid;
    width: 0px;
    height: 0px;
    line-height: 0px;
    position:fixed;
    bottom:0px;
    right:0px;
}

.headerItem{
    cursor:pointer;
    padding-top: 22px;
    padding-bottom: 22px;
    line-height: 29px !important;
    font-weight: 400;
    letter-spacing: 0.5;
    font-size: 16px;
}

.headerItem.active{
    color: #62a8ea !important;
}
